@page
@model AddChatModel

<h2>Create a new chat</h2>

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="IsGroup"></label>
        <input asp-for="IsGroup" />
        <span asp-validation-for="IsGroup"></span>
    </div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <button type="submit">Create new chat</button>
</form>