@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

// document.getElementById("sendButton").addEventListener("click", function (e) {
        //     e.preventDefault();

        //     const message = document.getElementById("messageInput").value;
        //     const imageInput = document.getElementById("imageInput");
        //     var file = imageInput.files[0];

        //     if (!message && !file)
        //         return;

        //     if (editedMessageId != -1) {
        //         connection.invoke("EditMessage", parseInt(editedMessageId), message);
        //         editedMessageId = -1;
        //         document.getElementById("messageInput").value = '';
        //         document.getElementById("imageInput").value = '';
        //         return;
        //     }

        //     if (file) {
        //         var reader = new FileReader();
        //         reader.onloadend = function (e) {
        //             var fullDataUrl = e.target.result;
        //             var contentType = fullDataUrl.substring(fullDataUrl.indexOf(":") + 1, fullDataUrl.indexOf(";"));
        //             var base64Image = fullDataUrl.split(",")[1];

        //             sendMessageToHub(message, base64Image, contentType);

        //             document.getElementById("messageInput").value = '';
        //             document.getElementById("imageInput").value = '';
        //         }
        //         reader.readAsDataURL(file);
        //     } else {
        //         sendMessageToHub(message, null, null);
        //         document.getElementById("messageInput").value = '';
        //         document.getElementById("imageInput").value = '';
        //     }
        // });
        // function sendMessageToHub(message, base64Image, contentType) {
        //     connection.invoke("SendMessage", parseInt(roomId), userName, message, base64Image, contentType)
        //         .catch(err => {
        //             console.error("SignalR error during SendMessage:", err);
        //         });
        // }
        // document.getElementById("sendButton").addEventListener("click", function (e) {
        //     e.preventDefault();
        //     var messageSended = false;
        //     const message = document.getElementById("messageInput").value;
        //     const imageInput = document.getElementById("imageInput");
        //     const file = imageInput.files[0];
        //     var contentType;
        //     var base64Image;

        //     if (!message && !file)
        //         return;

        //     if (file) {
        //         const reader = new FileReader();
        //         reader.onload = function (e) {
        //             const fullDataUrl = e.target.result;
        //             contentType = fullDataUrl.substring(fullDataUrl.indexOf(":") + 1, fullDataUrl.indexOf(";"));
        //             base64Image = fullDataUrl.split(",")[1];

        //         };
        //         reader.readAsDataURL(file);
        //     }

        //     if (editedMessageId != -1) {
        //         connection.invoke("EditMessage", parseInt(editedMessageId), message);
        //         editedMessageId = -1;
        //         document.getElementById("messageInput").value = '';
        //         document.getElementById("imageInput").value = '';
        //     }
        //     else {
        //         connection.invoke("SendMessage", roomId, userName, message, base64Image, contentType);
        //         document.getElementById("messageInput").value = '';
        //         document.getElementById("imageInput").value = '';
        //     }
        //     //else {
        //     //     connection.invoke("SendMessage", roomId, userName, message, null, null);
        //     //     document.getElementById("messageInput").value = '';
        //     //     document.getElementById("imageInput").value = '';
        //     // }
        // });